#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background: #333; padding:20px; color:#FFF; }
#dialogboxfoot0{
text-align: right;
float: right;
margin-left: 10px;
}
#dialogboxfoot{
float: right;
text-align: right;
}
#buttonbutton{
color: #CCC;
background: #666 none repeat scroll 0% 0%;
padding: 2px 2px 5px;
font-size: 13px;
}
